
/** Forms **/
form {
    clear: both;
    margin-right: 20px;
    padding: 0;
    width: 95%;
}
fieldset {
    border: none;
    margin-bottom: 1em;
    padding: 16px 10px;
}
fieldset legend {
    color: #e32;
    font-size: 160%;
    font-weight: bold;
}
fieldset fieldset {
    margin-top: 0;
    padding: 10px 0 0;
}
fieldset fieldset legend {
    font-size: 120%;
    font-weight: normal;
}
fieldset fieldset div {
    clear: left;
    margin: 0 20px;
}
/*form div {
        margin-bottom: 1em;
        padding: .5em;
        vertical-align: text-top;
}*/
form .input {
    color: #444;
    padding:10px;
}
form .required {
    font-weight: bold;
}
form .required label:after {
    color: #e32;
    content: '*';
    display:inline;
}

form div.submit {
    border: 0;
    clear: both;
    /*margin-top: 10px;*/
}

label {
    display: block;
    font-size: 110%;
    margin-bottom:3px;
}

input, textarea {
    clear: both;
    font-size: 140%;
    font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
    padding: 1%;
    width:98%;
}

select {
    clear: both;
    font-size: 120%;
    vertical-align: text-bottom;
}

select[multiple=multiple] {
    width: 100%;
}

option {
    font-size: 120%;
    padding: 0 3px;
}

input[type=checkbox] {
    clear: left;
    float: left;
    margin: 0 6px 7px 2px;
    width: auto;
}

div.checkbox label {
    display: inline;
}

input[type=radio] {
    float:left;
    width:auto;
    margin: 6px 0;
    padding: 0;
    line-height: 26px;
}
.radio label {
    margin: 0 0 6px 20px;
    line-height: 26px;
}
input[type=submit] {
    display: inline;
    font-size: 110%;
    width: auto;
}
form .submit input[type=submit] {
    background:#f68b1f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e79e54), to(#f68b1f));
    background-image: -webkit-linear-gradient(top, #e79e54, #f68b1f);
    background-image: -moz-linear-gradient(top, #e79e54, #f68b1f);
    border-color: #f68b1f;;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 0;
    /*padding: 8px 10px;*/
}

form .submit input[type=submit]:hover {
    background: #f68b1f;
}

input[type=file] {
    padding: 0;
}
/* Form errors */
form .error {
    background: #FFDACC;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    font-weight: normal;
}
form .error-message {
    -moz-border-radius: none;
    -webkit-border-radius: none;
    border-radius: none;
    border: none;
    background: none;
    margin: 0;
    padding-left: 4px;
    padding-right: 0;
}
form .error,
form .error-message {
    color: #9E2424;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}



/** Notices and Errors **/
.message {
    clear: both;
    color: #fff;
    font-size: 140%;
    font-weight: bold;
    margin: 0 0 1em 0;
    padding: 5px;
}

.success,
.message,
.cake-error,
.cake-debug,
.notice,
p.error,
.error-message {
    background: #ffcc00;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #ffcc00, #E6B800);
    background-image: -ms-linear-gradient(top, #ffcc00, #E6B800);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffcc00), to(#E6B800));
    background-image: -webkit-linear-gradient(top, #ffcc00, #E6B800);
    background-image: -o-linear-gradient(top, #ffcc00, #E6B800);
    background-image: linear-gradient(top, #ffcc00, #E6B800);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 18px;
    padding: 7px 14px;
    color: #404040;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.success,
.message,
.cake-error,
p.error,
.error-message {
    clear: both;
    color: #fff;
    background: #c43c35;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
.success {
    clear: both;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.5);
    background: #3B8230;
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
    background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -ms-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -o-linear-gradient(top, #76BF6B, #3B8230);
    background-image: linear-gradient(top, #76BF6B, #3B8230);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
p.error {
    font-family: Monaco, Consolas, Courier, monospace;
    font-size: 120%;
    padding: 0.8em;
    margin: 1em 0;
}
p.error em {
    font-weight: normal;
    line-height: 140%;
}
.notice {
    color: #000;
    display: block;
    font-size: 120%;
    padding: 0.8em;
    margin: 1em 0;
}
.success {
    color: #fff;
}

/* custom css */




html{
    min-height: 100%;
    height: 100%;
    width: 100%
}

body{
    width: 100%;
    height: 100%;
    background-color: #f7f7f6;
    position: relative;

}

h1, h2, h3, h4, h5, p {
    font-family: 'Open Sans',sans-serif;
    font-weight: 300;
}
a{
    text-decoration: none;
    border:none;
}
a img{
    border: none;
}
li{
    list-style:none;
}

p {
    font-size: 1.1em;
    line-height: 1.6em;
    font-weight: 400;
    margin: 0 0 .75em;
}

.no-padding{
    padding:0;
}

.topic-video-thumbnail{
    text-decoration: none;
    border:none;
    margin-bottom: 0;
}

.topic-video-thumbnail img{
    max-height: 80px;
    width: 100%;
    overflow: hidden;
}

.col-md-3.category-image {
    /*padding-top: 20px;*/
    padding: 0;
    overflow: hidden;
}

#page{
    min-height: 100%;
    height: 100%;
    width:100%;
    padding: 0;
    margin:0;
}

.home-content{
    min-height: 100%;
    height: 100%;
    width: 100%;
}

.content{
    min-height: 100%;
    /*height: 100%;*/
    max-width: 1280px;
    margin:auto;
    padding: 10px;
    background-color: #fff;
}

#sidebar {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    /*padding-top: 50px;*/
    width: 20%;
    max-width: 300px;
    float: left;
    /* background-color: #efe; */
    background-color: white;
    border-right: 1px solid #f0f0f0;
}
#header{
    position: relative;
    min-height: 100%;
    height: 100%;
    width: 100%;
}

#main-content {
    width: 79%;
    position: relative;
    /* left: 20%; */
    height: 100%;
    float: left;
    padding: 10px;
    background-color: #fefefe;
}

.watch-video{
    width: 100%;
    height: 100%;
    /*background-color: black;*/
}


#video{
    width: 100%;
    height: 100%;
    /*background-color: black;*/
}

.watch-description {
    /* margin-top: 20px; */
    text-align: justify;
    font-size: .8em;
    color: #777777;
}

.video-discription p{
    line-height: 1.2em;
    font-size: .9em;
    color: #777777;;
    max-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    /*white-space:  pre-wrap;*/
}

#header{
    position: relative;
    width: 100%;
}

div#sb-cat {
    padding-left: 0;
    padding-right: 0;
}

.category-header {
    /*padding: 5px;*/
    text-align: center;
    /*margin: 10px;*/
}

.video-title-discription{
        padding: 0 0 0 5px;
}
.video-title>a>h5{
    padding: 0 0 5px 0;
    margin: 0;
}
.category-title {
/*    margin-bottom: 0px;*/
    padding: 0px;
}

.category-title a h5{
    text-transform: capitalize;
    margin: 0;
}
.summary-text {
    padding: 2px 2px 2px 0;
}

.category-title h3{    
    padding: 10px 15px;
    margin: 0;
}
.category-summary {
    margin-top: 0px;
    padding: 0px
}
.category-description{
    /*border-top: 1px solid #e0e0e0;*/
    clear:both;
}
.category-description-container{
    padding: 0;
}
.category-description-text{
    padding: 0px;
}
.category-description-text p {
    font-size: .9em;
/*    margin-top: .75em;
    margin-bottom: .75em;*/
    height: 40px;
    line-height: 20px;
    text-overflow: clip;
    overflow: hidden;
}
.category-container.panel.panel-default.row {
    /*cursor: pointer;*/
}

.category-container:selected{
    background-color: transparent;
}
.subcategory-container{
    padding-bottom: 10px;
    margin-top: -10px;
    margin-bottom: 25px;
}
.subcategory-inner-container{
    min-height: 100px;
}
.subcategory-container h3{
    margin-top: 0;
    margin-bottom: 10px;
}

.image-container{
    padding: 0 5px 0 0;
    margin: 0;
}
.image-container img{
    width: 100%;
}
.non-selectable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select:none;
    -ms-user-select: none;
    user-select: none;
}

.header-image{
    position: absolute;
    background-color: #f6f6f6;
    height: 100%;
    width: 100%;
    background-image: url('/img/10207745109278375.jpg');
    background-attachment: scroll;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.video-title{

}
.seporator{
    margin-top: 15px;
    margin-bottom: 5px;
    clear:both;
    border-bottom: 1px solid #f68b1f;
    height: 1px;
}
.video-description{

}

.video-list-container {
    /*background-color: #f7f7f7;*/
    /*max-height: 100px;*/
    overflow: hidden;
    padding: 5px 10px;
}

.intro-container{
padding: 30px;
background: url(/img/photo-1441034281545-78296c3a6934cpy.jpg);
background-size: auto 200%;
background-repeat: no-repeat;
background-position: right top;
background-color: #fff;
width: 100%;
border-bottom: 1px solid #f68b1f;
border-top: 2px solid #ed5816;
}
.intro-gradient{
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); 
}

.intro-section{
    position: relative;
    max-width: 1280px;
    margin: auto;
}
.menu-container {
    bottom: 0px;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    /*background-color: #f68b1f;*/
    color: #fef;
    opacity: .9;
}
.menu-bottom{

    background-color: #f68b1f;
    min-height: 80px;
}

.logo-inner-container {
    background-color: #f68b1f;
    /* border-radius: 0 90% 0 0; */
    width: 100%;
    height: 100%;
    padding: 5px;
} 

.logo-container{
    width: 120px;
    height: 80px;
}
.logo-container img{
    width: 100%;
    height: 100%;
}


.navbar-header{
    background-color: #f68b1f;
}

.sign-up-btn .navbar-text{
    padding: 0;
    margin: 0;
}
@media (min-width: 768px){

    .navbar-nav>li>a{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .sign-up-btn:hover{
        color: #1fb9f5;
    }
    
    .navbar-right p a:hover{
      color: #1fb9f5;
    }
    
    /*
    .navbar-right>span>p{
        padding-top: 0;
        padding-bottom: 0;
        margin: 0 15px;
    }*/
    
    .navbar-username{
        padding-top: 5px;
        padding-bottom:5px;
        margin: 0 15px;
    }
}

.watch-now-btn{
    background-color: #f68b1f;
    color: #fff;
    width: 100%;
}

.navbar-toggle{
    padding: 30px 15px;
    margin: 0;
}
.menu-bottom a {
    color: #fef;
}
.menu-bottom a:hover {
    color: #1fb9f5;
}
.navbar{
    /*background-color: #f68b1f;*/
}
#menu-container{
    background-color: #f68b1f;
    color: #fef;
}
#menu-container a {
    color: #fef;
}
#menu-container li a:hover {
    color: #1fb9f5;
}
#menu-bottom-nav{

    margin-bottom: 0;
}
.menu-list-container{
    width:100%;
    min-height: 96px;
}

.navbar-right{
    padding: 25px 0;
}

.search-box{
    /*padding: 22px 0;*/
    float: right;
}

.search-button-container{
    padding: 0 10px;
    width: 16%;
    float: left;
    display: none;
}
.search-button-container button{
    background-color: #ed5816;
}

.search-input-container{
    width: 80%;
    float: left;
}

.page-header-container{
    height: 480px;
    /* offset content class padding */
    margin: -10px;
    position: relative;
    
    overflow:hidden;
}

.page-header-content{
    
    height: 480px;
    width: 100%;
    position: absolute;
    background: url('/img/photo-1456406644174-8ddd4cd52a06.jpg') no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    
}

.page-header-content-text{
    padding-left: 15px;
    padding-right: 15px;
    z-index: 199;
    opacity:1;
}
.page-header-content-text p{
        font-size: 1.2em;
    line-height: 1.4em;
    font-weight: 400;
    margin: 0 0 .75em;  
}
.video-information-text{
    padding: 7px 10px
}
.page-header-content-container{
    line-height: 1.1em;
    /*font-size: .9em;*/
    width: 100%;
    color:white;
    /*background-color: #000;*/
    
    z-index: 99;
    /*opacity: .3;*/
    
    /*vertical-align: bottom;*/
    
    /*margin-top: 200px;*/
    position: absolute;
/*    clear: both;*/
    bottom: 0;
}

.page-header-content-container-background-overlay{
    line-height: 1.1em;
    font-size: .8em;
    width: 100%;
    height: 100%;
    color:white;
    background-color: #000;
    
    z-index: 99;
    opacity: .4;
    content: ' ';
    /*vertical-align: bottom;*/
    
    /*margin-top: 200px;*/
    position: absolute;
/*    clear: both;*/
    bottom: 0;
}



@media(max-width: 768px)
{
    .search-box{
    padding: 20px 0;
    float: left;
    width: 100%;
    }
}
.search-input-container input[type="text"]{
    background-color: #f9a046;
    border: 1px solid rgba(255,255,255,0.3);
    color: #fff;
}

.search-input-container input[type="text"]:-webkit-input-placeholder{
    color: #fff;
}


.search-input-container input[type="text"]:focus{
    background-color: #fff;
    border: 1px solid #1fb9f5;
    
    color: #000;
}
.sign-up-btn{
    /*background-color: #1fb9f5;*/
   padding: 5px 12px;
    margin: 0px 10px  0px 0;
    background-color: white;
    /*background-color: #ff531f;*/
    background-color: #ed5816;
}
    
#UserLoginForm
{
    max-width: 1280px;
    margin: auto;
}
#UserLoginForm label
{
    display: inline-block;
}
#UserAddForm{
    max-width: 1280px;
    margin: auto;
}

.clear-fix{
    clear: both;
}

.login-form{
    padding: 20px;
}

.exp-input{
    display: inline;
    width: 20%;
    min-width: 10%;
}

#login-submit{
    width: 60%;
}
div.submit input{
    float: right;
    border-radius: 5px;
    min-height: 35px;
    min-width: 100px;
    background-color:  #f7f7f6;
}

.row-space-1{
    height: 20px;
}
.row-space-2{
    height: 40px;
}

.icon-bar{
    background-color: #fff;
}

.section, .title-area, .description{
    font-size: 1.1em;
    color: #777777;
}
.section, .title-area{
    text-align: center;
}
.section-title{
    text-transform: uppercase;
    color: #000;
    margin: 20px 2px 30px 2px;
}

.section-container{
    padding: 15px
}

#home-body{
    background-color: white;
}
.about-us-container{
    width: 100%;
    background-color: #1fb9f5;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
p.description{
    font-size: 1.1em;
}
.about-us-container h3{

    color:#fff;
}
.about-us-container p.description{

    color:#fff;
}
.meet-our-team-container {
    background: url(/img/photo-1462536943532-57a629f6cc60.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    background-color: #000;
    width: 100%;
    color: #fff;
}
.meet-our-team-container h1 {

    color: #fff;
}
.intro-right-paragraph{
    float:right;   
}
.team-member-image{
    border-radius: 50%;
    border: 2px solid #f68b1f;
}
.team-member {
    border-radius: 15px;
    background-color: #fff;
    opacity: .84;
    /*border: 1px solid #1fb9f5;*/
    padding: 10px 2px 10px 2px;
    margin: 1.3%;
    height: 520px;
}
.team-member p.description {
    color: #000;
    font-size: .9em;
    line-height: 1.1em;
}
#myCarousel{
    width: 100%;
    height: 100%;
}
intro-right-paragraph p {
    color: #222222;
    /* color: #777777; */
}

.testimonial {
    background-color: #fff;
    border: 2px solid #1fb9f5;
    border-radius: 15px;
    margin: 10px 4% 10px 4%;
    padding: 10px;
}

#categories-content{
    padding-top: 20px;
}

.submit-container{
    padding: 0;
}

.submit-container input[type=submit]{
    width: 100%;
}

.category-container{
    padding: 10px;
    background-color: #ffffff;
}

.back-arrow-img{
    padding: 0;
}
.image-container img{
    max-width: 72px; 
    max-height: 72px;
}

.testimonials-container {
    background-color:#f7f7f6;
}

.testimonial:after {
    border-radius: 0 0 0 50%;
    border: 2px solid #1fb9f5;
}

.testimonial-text a {
    color: #f68b1f;
}
.testimonial-text p{
    font-size: 0.9em;
    max-height: 130px;
    min-height: 130px;
    overflow: hidden;
}
.page-footer-container{
    background-color: #f68b1f;
}

.footer-group{
    padding-top: 15px
}

#footer{
    color:#fff;
}
#footer li a{
    color:#fff;
}
#footer div{
    color:#fff;
}
#footer p{
    color:#fff;
}
.bold{
    font-weight: bold;
}
.hidden-canvas{
    display:none;
}

.yes-button{
    color:#fff;
}

.no-button{
    color:#fff;
}

.delete-button{
    color:#fff;
    background-color: #f00;
    border-radius: 10px;
    line-height: 2.1em;
    border: 2px solid #f68b1f;
    padding: 5px;
    margin: 10px;
}
.delete-button a{
    display: block;
    width:100%;
    color:#fff;
    text-align: center
}
.cancel-button{
    color:#f68b1f;
    background-color: #fff;
    border: 2px solid #f68b1f;
    border-radius: 10px;
    line-height: 2.1em;
    padding: 5px;
    margin: 10px;
}
.cancel-button a{
    display: block;
    width:100%;
    color:#f68b1f;
    text-align: center
}

.w-theme-button{
    color:#f68b1f;
    background-color: #fff;
    border: 2px solid #f68b1f;
    border-radius: 10px;
    line-height: 2.1em;
    padding: 5px;
    /*margin: 10px;*/
}
.w-theme-button a{
    display: block;
    width:100%;
    color:#f68b1f;
    text-align: center
}
.top-button{    
    float: right;
    margin: auto;
}
/*.cancel-button span{
    display: block;
    width:100%;
   color:#f68b1f;
   text-align: center
}*/


.error-text{
    color:#f00;
}

#mm-admin-nav{
    background-color: #1fb9f5;
    border-top: 1px solid #fff;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -10px;
    padding-left: 15px;
    padding-right: 15px;
}
#mm-admin-nav>ul>li>a:hover{
    color: #f68b1f;
}

#mm-admin-nav .navbar-nav{
    float: left;
    margin: 0;
}
.navbar-admin-option{
    position: relative;
    padding: 15px 10px;
    margin-top: 0;
    margin-right: 15px;
    margin-bottom: 0;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    /* border-radius: 4px; */
    display: block;
    width: 100%;
    text-align: left;
    height: 100%;
    border: none;

}

.navbar-admin-option:hover{    
    color: #1fb9f5;
    text-decoration: none;
    background-color: #eee;
    border: none;
}

.navbar-admin-option:focus{    
    text-decoration: none;
    border: none;
    outline: 0;

}
/*#menu-container a:hover{    
    color: #1fb9f5;
    text-decoration: none;
    background-color: #eee;
}*/

/*#menu-container a:focus{    
    color: #1fb9f5;
    text-decoration: none;
    background-color: #eee;
}*/

.nav li a:focus, .nav>li>a:hover {
    color: #1fb9f5;
    background-color: transparent;
}
.nav li a:focus, .nav>li>a{
    text-transform: uppercase;
}
.subcategory-container{
    background-color: #f68b1f;
    color: #fff;
    /*padding: 5px;*/
    border-radius: 5px;
}

.course-topic{
    /*background-color: #1fb9f5;*/
    color: #fff;
    /*padding: 5px;*/
    border-bottom: 1px solid #fff
}
.course-topic a{
    color: #fff;
}
.course-topic h3{
    margin-bottom: 0px;
    padding: 5px;
}
.course-topic a:hover{
    /*background-color: #1fb9f5;*/
    text-decoration: none;
    color: #1fb9f5;
}
.course-topic:hover{
    background-color: #fb9c16;
    /*color: #f68b1f;*/
}

/*.back-arrow{
    width: 100%;
    height: 100%;
}*/

.next{
    float: right;
    width: 100%;
}

.previous{
    float: left;
    width: 100%;
}

.watch-content{
    margin-top: 10px;
}

hr{
    /*margin-top: .5em;*/
}

.no-left-padding{
    padding-left: 0;
}

.no-right-padding{
    padding-right: 0;
}

.plan-price{
    text-align: right;
}

.purchase-plan-btn{
    float: right;
}

.course-image{
    max-height: 128px;
    max-width: 128px;
}

.right-for-u-container{
    border-top: 1px solid #f68b1f;
    border-bottom: 1px solid #f68b1f;
}

.search-result{
    padding: 10px;
}

.result-description{
    clear: both;
    height: 60px;
}

.result-description span{
    display: block;
    max-height: 60px;
    line-height: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.topics-container{
    min-height: 920px;
}

.courses-container{
    min-height: 920px;
}
.video-list-hr{
    margin:10px 0px;
}
.watch-video-description{
    margin-top: 20px;
}
.playlist-h4{
    margin-top:0px;
}
.carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}